@model ReserveTable.App.Models.Restaurants.RestaurantDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Name}";
}

<div>
    <h4 class="text-center p-4">@Model.Name - Reserve your table here!</h4>
    <hr />
    <div class="d-flex justify-content-center">
        <ul class="row list-group">
            <li class="list-group-item disabled">
                @Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.City)
            </li>
            <li class="list-group-item disabled">
                Phone: @Html.DisplayFor(model => model.PhoneNumber)
            </li>
            <li class="list-group-item disabled">
                Rate: @Html.DisplayFor(model => model.AverageRate)
            </li>
        </ul>
    </div>
    <div class="container-fluid mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Username</th>
                    <th scope="col" class="text-center">Rate</th>
                    <th scope="col" class="text-center">Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <th scope="row" class="text-center">@review.Date</th>
                        <td class="text-center">@review.Username</td>
                        <td class="text-center">@review.Rate</td>
                        <td class="text-center">@review.Comment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex justify-content-around pt-4">
        <a class="btn btn-warning" href="/Reservations/@Model.City/@Model.Name">Make Reservation</a>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-warning" href="/Tables/@Model.City/@Model.Name">View tables</a>
        }

        <a class="btn btn-warning" href="/Reviews/Create/@Model.City/@Model.Name">Write a review</a>
    </div>
}
else
{
    <div class="d-flex justify-content-around pt-4">
        <a class="btn btn-warning" href="/Identity/Account/Register">Register</a>
        <a class="btn btn-warning" href="/Identity/Account/Login">Login</a>
    </div>
    <div class="d-flex justify-content-around pt-4">
        <h4 class="text-white">Register or login to reserve a table or write a review!</h4>
    </div>
}

<div class="d-flex justify-content-center p-3">
    <h5><a href="/Cities/@Model.City">Back to all restaurants in @Model.City</a></h5>
</div>
