@model ReserveTable.App.Models.Restaurants.RestaurantDetailsViewModel

<div>
    <h4 class="text-center">@Model.Name - Reserve your table here!</h4>
    <hr />
    <div class="d-flex justify-content-center">
        <ul class="row list-group">
            <li class="list-group-item disabled">
                @Html.DisplayNameFor(model => model.Address)
                @Html.DisplayFor(model => model.Address)
            </li>
            <li class="list-group-item disabled">
                @Html.DisplayNameFor(model => model.PhoneNumber)
                @Html.DisplayFor(model => model.PhoneNumber)
            </li>
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center pt-4">
    <a class="btn btn-warning" href="/Reservations/{@Model.Id}">Make Reservation</a>
</div>
<div class="d-flex justify-content-center pt-2">
    <a href="/Restaurants/All">Back to All Restaurants</a>
</div>
