@model ReserveTable.App.Models.Cities.CityRestaurantsViewModel

@{
    ViewData["Title"] = $"Restaurants in {Model.CityName}";
}

 @{var criteria = new Dictionary<string, string>
        ()
    {
    { "rating-lowest-to-highest", "Rating (lowest to highest)" },
    { "rating-highest-to-lowest", "Rating (highest to lowest)" },
    { "alphabetically-a-to-z", "Alphabetically (A to Z)" },
    { "alphabetically-z-to-a", "Alphabetically (Z to A)" }
    };
 }

    @if (TempData["RestaurantExists"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Sorry!</strong>
            @Html.Raw(Html.Encode(TempData["RestaurantExists"]))
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <h1 class="text-center p-4">Restaurants in @Model.CityName</h1>
    <hr />
    <div class="d-flex justify-content-between container container-fluid">
        <div id="restaurants-search-bar-holder" class="form-group d-flex justify-content-between w-50">
            <input type="text" class="form-control text-primary" id="restaurants-search-bar" name="search" placeholder="Search..." />
        </div>
        <div id="sort-holder" class="form-group w-40 d-flex justify-content-between">
            <label for="sort" class="font-weight-bold w-30 h4 mt-1 text-right">Order By: </label>
            <form id="order-form" action="/Cities/@Model.CityName" method="get">
                <select id="sort" class="form-control pl-2 ml-3 w-70" name="criteria">
                    @if (this.ViewData["criteria"] == null)
                    {
                        <option selected>None</option>
                    }
                    else
                    {
                        <option>None</option>
                    }

                    @foreach (var elem in criteria)
                    {
                        if (elem.Key == (string)this.ViewData["criteria"])
                        {
                            <option value="@elem.Key" selected>@elem.Value</option>
                        }
                        else
                        {
                            <option value="@elem.Key">@elem.Value</option>
                        }
                    }
                </select>
            </form>
        </div>
    </div>

    <div class="row mt-3 p-4">
        @foreach (var restaurant in Model.Restaurants)
        {
            <div class="col-sm-4 d-flex justify-content-center p-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@restaurant.Photo">
                    <div class="card-body">
                        <h5 class="card-title">@restaurant.Name</h5>
                        <p class="card-text">Rating: @restaurant.Rate</p>
                        <a href="/Restaurants/@Model.CityName/@restaurant.Name" class="btn btn-primary">View details</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="d-flex justify-content-center p-2">
        <h5><a asp-controller="Home" asp-action="Index">Back to home page</a></h5>
    </div>

    <script>
        $('#sort').change(function () {
            $('#order-form').submit();
        });

        $('#restaurants-search-bar').on("change paste keyup", function () {
            $('.card').show();

            let searchValue = $('#restaurants-search-bar').val();

            for (let elem of $('.card')) {
                let productName = $($($(elem).children()[1]).children()[0]).text();
console.log(productName);

                if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                    $(elem).hide();
                }
            }
        });
    </script>
